.cart__boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.cart__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 80vw;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 32px 42px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.05);
  background: rgb(255, 255, 255);
}
.cart__box .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}
.cart__box img {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}
.cart__box h3 {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}
.cart__box h3 span {
  display: none;
}
.cart__box button {
  background-color: transparent;
}
.cart__box button .button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
  gap: 2px;
}
.cart__box button .svgIcon {
  width: 12px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
.cart__box button .svgIcon path {
  fill: white;
}
.cart__box button .button:hover {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  background-color: rgb(255, 69, 69);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0;
}
.cart__box button .bin-top {
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
}
.cart__box button .button:hover .bin-top {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transform: rotate(160deg);
          transform: rotate(160deg);
}
.cart__box .quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1.5px solid rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  padding: 5px 12px;
  gap: 5px;
}
.cart__box .quantity .calculator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.cart__box .quantity .calculator button {
  padding: 5px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  font-size: 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}