@import url("./components/footer.scss");
@import url("./components/hero.scss");
@import url("./components/navbar.scss");
@import url("./components/product.scss");
@import url("./components/empty.scss");
@import url("./components/timer-box.scss");
@import url("./pages/single.scss");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}
* button {
  border: none;
  cursor: pointer;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}