.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  justify-items: center;
}
.products .card {
  width: 270px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 15px;
  border: 1px solid black;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.products .card .card__img {
  width: 260px;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  overflow: hidden;
}
.products .card .card__img img {
  width: 260px;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.products .card .card__img img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.products .card .card__img .cart {
  width: 270px;
  height: 41px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  padding: 8px 87px;
  border-radius: 0px 0px 4px 4px;
  background: rgb(0, 0, 0);
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.5s ease !important;
  transition: 0.5s ease !important;
  margin-bottom: -41px;
}
.products .card .card__img .click {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 210px;
  margin-top: 10px;
  gap: 10px;
  position: absolute;
  opacity: 0;
}
.products .card .card__img .click button {
  padding: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(250, 250, 250);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid black;
}
.products .card .card__img .click .likes {
  color: red;
  font-size: 225px;
}
.products .card .card__info {
  width: 270px;
  padding: 16px 10px;
}
.products .card .card__info .price, .products .card .card__info .rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.products .card .card__info .rating {
  gap: 5px;
  color: gold;
}
.products .card .card__info h2 {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}
.products .card .card__info h3 {
  color: rgb(219, 68, 68);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}
.products .card .card__info .old__price {
  color: black;
  text-decoration-line: line-through;
  margin-left: 5px;
}

.product__title .frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
.product__title .frame .box {
  width: 20px;
  height: 40px;
  border-radius: 4px;
  background: rgb(219, 68, 68);
}
.product__title .frame h2 {
  color: rgb(219, 68, 68);
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
}
.product__title h1 {
  color: rgb(0, 0, 0);
  font-size: 36px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 4%;
  text-align: left;
}
.product__title button {
  padding: 16px 48px;
  color: rgb(250, 250, 250);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  border-radius: 4px;
  background: rgb(219, 68, 68);
}
.product__title .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 30px auto;
}

.card__img:hover .cart {
  -webkit-transition: 0.5s ease !important;
  transition: 0.5s ease !important;
  margin-bottom: 0 !important;
}
.card__img:hover .click {
  -webkit-transition: 0.5s ease !important;
  transition: 0.5s ease !important;
  opacity: 1 !important;
}